<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
</head>
<body>
   
            @RenderBody()
      

    @*<footer>
        <div class="content-wrapper">
            <div class="float-left">
            </div>
        </div>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
