@using System.Web.Optimization
@model BorderExpress.AutoImport.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
*@

<section id="loginForm" >
   @* @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl}))*@
 @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    
    
            <div class="form-group form-group-login">
                @*
                <label>@Html.LabelFor(m => m.UserName)</label>*@
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control loginForm-input" })<span style="color: red; vertical-align: middle; padding: 3px; float: left; font-size: 15px;"> *</span>
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group form-group-login">
                @*<label for="exampleInputPassword1">@Html.LabelFor(m => m.Password)</label>*@
                @Html.PasswordFor(m => m.Password, new { @class = "form-control loginForm-input" })<span style="color: red; vertical-align: middle; padding: 3px; float: left; font-size: 15px;"> *</span>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group form-group-login">
                <input type="submit" class="btn btn-login loginForm-input" value="Log in">
            </div>
            <div class="form-group form-group-login">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </label>
            </div>

      

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



